@page
@model IndexModel
@{
    ViewData["Title"] = "Trang chủ";
}
<section class="hero">
    <div class="overlay"></div>
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-7 text-white">
                <h2>HỆ SINH THÁI MỞ RỘNG</h2>
                <h1>KHÔNG GIỚI HẠN</h1>
                <a href="#" class="btn btn-warning mt-4">
                    Khám phá ngay
                </a>
            </div>
            <div class="col-lg-5">
            </div>
        </div>
    </div>
</section>
<section class="intro">
    <div class="container text-center">
        <h2>Works with Lumi Life</h2>
        <p>
            Không chỉ tận hưởng hệ sinh thái nhà thông minh đầy đủ nhất, người dùng còn có thể dễ dàng mở rộng tiện ích, 
            tối ưu trải nghiệm sống cùng các đối tác Works With Lumi Life    
        </p>
    </div>
</section>
<section class="works-section">
    <div class="container">
        <div class="row g-0 alert-items-center">
            <div class="col-md-6 works-text">
                <h2>Works with Lumi Life là gì?</h2>
                <p>
                    Works with Lumi Life là bộ tiện ích mở rộng được tích hợp vào nhà thông minh Lumi. Các sản phẩm công nghệ “Works With Lumi Life” như Apple Home, Google Assistant, Alexa, Camera thông minh Hikvision,… có thể được điều khiển đồng bộ với thiết bị của Lumi bằng app Lumi Life trên Smartphone
                </p>
            </div>
            <div class="col-md-6">
                <img src="https://lumi.vn/wp-content/uploads/2023/06/he-sinh-thai-nha-thong-minh-lumi-1536x1152.jpg" alt="right" />
            </div>
        </div>
    </div>
</section>
<section class="works-section">
    <div class="container">
        <div class="row g-0 alert-items-center">
            <div class="col-md-6">
                <img src="https://lumi.vn/wp-content/uploads/2020/09/3.1-GG-1536x1152.jpg" alt="left" />
            </div>
            <div class="col-md-6 works-text">
                <h2>Đầu tiên Việt Nam tích hợp Google Assistant</h2>
                <p>
                    Nhà thông minh Lumi vượt qua những tiêu chuẩn kiểm định khắt khe của Google, cho phép người dùng điều khiển ngôi nhà thông qua trợ lý ảo Google Assistant
                </div>

            </div>
        </div>
    </section>
    <section class="works-section">
        <div class="container">
            <div class="row g-0 alert-items-center">
                <div class="col-md-6 works-text">
                    <h2>Tích hợp loa âm thanh</h2>
                    <p>
                        Nhà thông minh Lumi mở cổng kết nối với các hãng âm thanh hàng đầu thế giới như JBL, BOSE, BOSCH, cho phép điều khiển hệ thống âm thanh bằng Smartphone hoặc giọng nói, mang lại không gian sống động hơn cho ngôi nhà của bạn.
                    </p>
                </div>
                <div class="col-md-6">
                    <img src="https://lumi.vn/wp-content/uploads/2020/09/8.-loa-768x576.jpg" alt="right" />
                </div>
            </div>
        </div>
    </section>
    <section class="works-section">
        <div class="container">
            <div class="row g-0 alert-items-center">
                <div class="col-md-6">
                    <img src="https://lumi.vn/wp-content/uploads/2020/09/7.-He-thong-dieu-hoa-trung-tam-768x576.jpg" alt="left" />
                </div>
                <div class="col-md-6 works-text">
                    <h2>Hệ thống điều hòa trung tâm Daikin VRV</h2>
                    <p>
                        Module Daikin Lumi cho phép bạn điều khiển điều hòa trung tâm Daikin VRV bằng Smartphone. Đặc biệt, bạn có thể xác định được trạng thái điều hòa đang bật hay tắt thông qua app Lumi Life.
                    </p>
                </div>

            </div>
        </div>
    </section>
    <section class="works-section">
        <div class="container">
            <div class="row g-0 alert-items-center">
                <div class="col-md-6 works-text">
                    <h2>Đầu tiên Việt Nam tích hợp trợ lý ảo Alexa</h2>
                    <p>
                        Tích hợp thành công tính năng điều khiển bằng giọng nói thông qua trợ lý ảo Alexa vào 2018, Lumi chính thức trở thành đơn vị tiên phong tại Việt Nam nâng tầm công nghệ nhà thông minh
                    </p>
                </div>
                <div class="col-md-6">
                    <img src="https://lumi.vn/wp-content/uploads/2020/09/3.2-Alexa-768x576.jpg" alt="right" />
                </div>
            </div>
        </div>
    </section>
    <section class="works-section">
        <div class="container">
            <div class="row g-0 alert-items-center">
                <div class="col-md-6">
                    <img src="https://lumi.vn/wp-content/uploads/2023/06/lumi-tich-hop-dong-co-rem-tu-dong-768x576.jpg"  alt="left" />
                </div>
                <div class="col-md-6 works-text">
                    <h2>Tích hợp động cơ rèm tự động</h2>
                    <p>
                        Sử dụng động cơ rèm tự động trong nhà thông minh Lumi cho phép bạn điều khiển đóng/ mở rèm bằng Smartphone hoặc giọng nói, hay hẹn giờ đóng/ mở theo thói quen sinh hoạt của gia đình. Ngoài các hãng rèm tự động phổ biến, nay bạn có thêm lựa chọn động cơ rèm Work with Lumi Life, tích hợp sâu hệ sinh thái Lumi
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="works-section">
        <div class="container">
            <div class="row g-0 alert-items-center">
                <div class="col-md-6 works-text">
                    <h2>
                        Tích hợp 70+ hãng điều hòa
                    </h2>
                    <p>
                        Hơn 70 hãng điều hòa, trong đó hơn 30 hãng thông dụng (Toshiba, Daikin, LG, Sharp…) có thể tích hợp vào hệ sinh thái Nhà thông minh Lumi nhờ khả năng “học lệnh” của các thiết bị điện thông minh, cho phép bạn điều khiển tất cả các điều hòa trong nhà chỉ bằng 1 chiếc Smartphone
                    </p>
                </div>
                <div class="col-md-6">
                    <img src="https://lumi.vn/wp-content/uploads/2020/09/6.-dieu-hoa-600x450.jpg" alt="right" />
                </div>
            </div>
        </div>
    </section>

